In [3]:
import numpy as np
import pandas as pd

dataFrame = pd.read_csv('practice_student.csv')
print(dataFrame)

   roll no\n      name branch internal mark external mark
0          1   dheeraj     cs       debared            65
1          2     harsh    NaN            80       debared
2          3      ashu     ee        absent        absent
3          4       ram    NaN            99            89
4          5     shyam     it            67      absent\n
5          6     jimmy    NaN       debared            99
6          7  oostro\n     me            54        absent
7          8      jack    NaN            23            38
8          9   rihaana    NaN        absent            59
9         10       jam     cs            18       debared

In [12]:
#cleaning the data
print("columns\n")
print(dataFrame.columns)
print("head\n")
print(dataFrame.head())

columns

Index(['roll no\n', 'name', 'branch', 'internal mark', 'external mark'], dtype='object')
head

   roll no\n     name branch internal mark external mark
0          1  dheeraj     cs       debared            65
1          2    harsh    NaN            80       debared
2          3     ashu     ee        absent        absent
3          4      ram    NaN            99            89
4          5    shyam     it            67      absent\n

In [10]:
print(dataFrame.head(2))

   roll no\n     name branch internal mark external mark
0          1  dheeraj     cs       debared            65
1          2    harsh    NaN            80       debared

In [16]:
print(dataFrame.head(-4))

   roll no\n     name branch internal mark external mark
0          1  dheeraj     cs       debared            65
1          2    harsh    NaN            80       debared
2          3     ashu     ee        absent        absent
3          4      ram    NaN            99            89
4          5    shyam     it            67      absent\n
5          6    jimmy    NaN       debared            99