In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("Data.csv")
print(df)

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40       0       Yes
5   France   35   58000       Yes
6    Spain    0   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [2]:
print(df.columns)

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [3]:
print(df[df.columns[0:2]])

   Country  Age
0   France   44
1    Spain   27
2  Germany   30
3    Spain   38
4  Germany   40
5   France   35
6    Spain    0
7   France   48
8  Germany   50
9   France   37

In [4]:
# first 3 col -> x, input(), independent var, feature
feature = df[df.columns[1:3]]
print(feature)

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40       0
5   35   58000
6    0   52000
7   48   79000
8   50   83000
9   37   67000

In [5]:
# last col -> y, ouput(), depenedaend var, label
label = df[df.columns[3:4]]
print(label)

  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [6]:
label = df[["Purchased"]]
print(label)

  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [7]:
#divide data into training and testing data set 80 to 20 %
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [8]:
feature_train, feature_test, label_train, label_test = train_test_split(feature,label,test_size=0.3)

In [9]:
print(feature_train)
print("\n")
print(label_train)

   Age  Salary
1   27   48000
0   44   72000
8   50   83000
7   48   79000
4   40       0
5   35   58000
2   30   54000


  Purchased
1       Yes
0        No
8        No
7       Yes
4       Yes
5       Yes
2        No

In [10]:
print(feature_test)
print("\n")
print(label_test)

   Age  Salary
3   38   61000
9   37   67000
6    0   52000


  Purchased
3        No
9       Yes
6        No

In [11]:
# TRAINING DATA [feature_train, label_train]
from sklearn import tree
from sklearn.metrics import accuracy_score

#selection of classifiers
classifier = tree.DecisionTreeClassifier()

#train the model
cf=classifier.fit(feature_train, label_train)

In [12]:
#testing accuracy  
#testing using predict
prediction=cf.predict(feature_test)
print("accuracy = ", accuracy_score(label_test, prediction, normalize=True)*100, "%")
#it automaticaly match the testing_labels with prediction labels and give accuracy on the basis on that

accuracy =  66.66666666666666 %

In [13]:
# scalling the age and salary with standart scaler
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
feature_train = ss.fit_transform(feature_train)
print(feature_train)

#how standard scaller will work
'''
x'={x-mean(x)}/std_devition(x)
for minMaxScaler x'={x-min(x)}/{max(x)-min(x)}
'''

[[-1.4837121  -0.31903789]
 [ 0.59348484  0.60507186]
 [ 1.32661317  1.02862216]
 [ 1.08223706  0.87460387]
 [ 0.10473262 -2.16725738]
 [-0.50620766  0.06600784]
 [-1.11714793 -0.08801045]]

"\nx'={x-mean(x)}/std_devition(x)\nfor minMaxScaler x'={x-min(x)}/{max(x)-min(x)}\n"

In [14]:
# scalling the age and salary with MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
feature_train = ss.fit_transform(feature_train)
print(feature_train)

[[0.         0.57831325]
 [0.73913043 0.86746988]
 [1.         1.        ]
 [0.91304348 0.95180723]
 [0.56521739 0.        ]
 [0.34782609 0.69879518]
 [0.13043478 0.65060241]]

In [15]:
print("df.columns\n",df.columns,"\n\n")
print("\ndf.head\n",df.head(),"\n\n")
print("\ndf.shape\n",df.shape)
print("\ngrouping by country\n",df.groupby('Country').size())
print("\ntype check\n",df.dtypes)

df.columns
 Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')



df.head
    Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40       0       Yes



df.shape
 (10, 4)

grouping by country
 Country
France     4
Germany    3
Spain      3
dtype: int64

type check
 Country      object
Age           int64
Salary        int64
Purchased    object
dtype: object

In [16]:
x = df.iloc[1:3,0:2]
print(x)

   Country  Age
1    Spain   27
2  Germany   30

In [17]:
print(df.iloc[::])

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40       0       Yes
5   France   35   58000       Yes
6    Spain    0   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [18]:
x = df.iloc[:,:-1]
print(x)

   Country  Age  Salary
0   France   44   72000
1    Spain   27   48000
2  Germany   30   54000
3    Spain   38   61000
4  Germany   40       0
5   France   35   58000
6    Spain    0   52000
7   France   48   79000
8  Germany   50   83000
9   France   37   67000

In [19]:
x = df.describe()
print(x)

             Age        Salary
count  10.000000     10.000000
mean   34.900000  57400.000000
std    14.247417  23248.416911
min     0.000000      0.000000
25%    31.250000  52500.000000
50%    37.500000  59500.000000
75%    43.000000  70750.000000
max    50.000000  83000.000000

In [20]:
from pandas import set_option
set_option('precision',2)
print(df.describe())

         Age    Salary
count  10.00     10.00
mean   34.90  57400.00
std    14.25  23248.42
min     0.00      0.00
25%    31.25  52500.00
50%    37.50  59500.00
75%    43.00  70750.00
max    50.00  83000.00

In [21]:
set_option('display.max_rows()',6)
print(df.describe())

         Age    Salary
count  10.00     10.00
mean   34.90  57400.00
std    14.25  23248.42
...      ...       ...
50%    37.50  59500.00
75%    43.00  70750.00
max    50.00  83000.00

[8 rows x 2 columns]

In [22]:
#from here make 2 py file

In [23]:
import numpy as np
import pandas as pd
df = pd.read_csv("Data2.csv")
print(df)

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
..      ...   ...      ...       ...
7    France  48.0  79000.0       Yes
8   Germany  50.0  83000.0        No
9    France  37.0  67000.0       Yes

[10 rows x 4 columns]

In [24]:
'''
Imputer fills missing values with some statistics (e.g. mean, median, ...)
of the data. To avoid data leakage during cross-validation, it computes the
statistic on the train data during the fit , stores it and uses it on the test data, during the transform
'''
from sklearn.impute import SimpleImputer
i = SimpleImputer(missing_values=np.NAN, strategy='Mean')
feature = df.iloc[:,:-1].values
print(feature)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [25]:
print([feature[:,1:3]])

[array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, nan],
       [35.0, 58000.0],
       [nan, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)]